Repository keweikao/Sales_ai_automation_v3: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck

ultracite:
  run: bun x ultracite check
  stage_fixed: true

typecheck:
  run: bun run typecheck

refactor: 模組化 Analytics Router 並修復型別錯誤
  .doc/20260129_Analytics_Router_重構計畫.md
  apps/server/src/index.ts
  packages/api/src/routers/analytics.ts
  packages/api/src/routers/analytics/cache.ts
  packages/api/src/routers/analytics/dashboard.ts
  packages/api/src/routers/analytics/index.ts
  packages/api/src/routers/analytics/mtd-uploads.ts
  packages/api/src/routers/analytics/opportunity-analytics.ts
  packages/api/src/routers/analytics/rep-performance/index.ts
  packages/api/src/routers/analytics/rep-performance/queries.ts
  packages/api/src/routers/analytics/rep-performance/transformers.ts
  packages/api/src/routers/analytics/schemas.ts
  packages/api/src/routers/analytics/team-performance/index.ts
  packages/api/src/routers/analytics/team-performance/queries.ts
  packages/api/src/routers/analytics/team-performance/transformers.ts
  packages/api/src/routers/analytics/utils.ts
  packages/api/src/routers/sms.ts
  packages/auth/src/index.ts
Due: ultracite, typecheck

refactor: 模組化 Analytics Router (1992行 → 13個模組) (#14)
  .doc/20260128_Bug修復報告.md
  .doc/20260129_Analytics_Router_重構計畫.md
  apps/server/src/index.ts
  apps/web/src/routes/index.tsx
  packages/api/src/routers/analytics.ts
  packages/api/src/routers/analytics/cache.ts
  packages/api/src/routers/analytics/dashboard.ts
  packages/api/src/routers/analytics/index.ts
  packages/api/src/routers/analytics/mtd-uploads.ts
  packages/api/src/routers/analytics/opportunity-analytics.ts
  packages/api/src/routers/analytics/rep-performance/index.ts
  packages/api/src/routers/analytics/rep-performance/queries.ts
  packages/api/src/routers/analytics/rep-performance/transformers.ts
  packages/api/src/routers/analytics/schemas.ts
  packages/api/src/routers/analytics/team-performance/index.ts
  packages/api/src/routers/analytics/team-performance/queries.ts
  packages/api/src/routers/analytics/team-performance/transformers.ts
  packages/api/src/routers/analytics/utils.ts
  packages/api/src/routers/sms.ts
  packages/auth/src/index.ts
Due: ultracite, typecheck

fix: getTodaysTodos API 權限修復
  packages/api/src/routers/sales-todo.ts
Due: ultracite, typecheck

fix: 修復 db 模組 top-level await 問題
  packages/db/src/index.ts
Due: ultracite, typecheck

fix: 修復案件編號重複導致音檔上傳失敗
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

fix: Dashboard 今日待辦錯誤處理與需求調整
  apps/web/src/routes/index.tsx
Due: ultracite, typecheck

fix: Dashboard 分析總數改為查詢已完成對話數
  packages/api/src/routers/analytics/dashboard.ts
Due: ultracite, typecheck

fix: 修復 Dashboard 分析總數查詢的條件錯誤
  packages/api/src/routers/analytics/dashboard.ts
Due: ultracite, typecheck

fix: 修復 getOpportunity 權限檢查無法讀取 env 變數
  packages/api/src/routers/opportunity.ts
Due: ultracite, typecheck

fix: 修復 conversation router 權限檢查無法讀取 env 變數
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

feat: 新增 Customer Voice Tagging 功能
  apps/queue-worker/src/handlers/voice-tagging.ts
  apps/queue-worker/src/index.ts
  apps/queue-worker/wrangler.toml
  packages/db/run-migration-0011.ts
  packages/db/src/migrations/0011_add_customer_voice_tags.sql
  packages/db/src/schema/customer-voice-tags.ts
  packages/db/src/schema/index.ts
  packages/services/src/index.ts
  packages/services/src/nlp/dictionaries/common.ts
  packages/services/src/nlp/dictionaries/ichef.ts
  packages/services/src/nlp/dictionaries/index.ts
  packages/services/src/nlp/index.ts
  packages/services/src/nlp/sentence-classifier.ts
  packages/services/src/nlp/voice-tagger.ts
  scripts/test-voice-tagging.ts
Due: ultracite, typecheck

fix: 修復 GitHub Actions 測試環境變數名稱不一致
  tests/api/analytics.test.ts
  tests/api/auth.test.ts
  tests/api/conversation.test.ts
  tests/api/opportunity.test.ts
Due: ultracite, typecheck

fix: 修復遺漏的測試環境變數名稱不一致
  tests/e2e/agent.spec.ts
  tests/fixtures/auth-helpers.ts
  tests/fixtures/test-helpers.ts
Due: ultracite, typecheck

fix: 修復遺漏的測試環境變數名稱不一致 (#15)
  tests/e2e/agent.spec.ts
  tests/fixtures/auth-helpers.ts
  tests/fixtures/test-helpers.ts
Due: ultracite, typecheck

fix: 新增 server dev script 修復 CI API Tests 失敗
  apps/server/package.json
  apps/server/wrangler.toml
Due: ultracite

fix: 修復 CI API Tests wrangler 無法讀取環境變數
  .github/workflows/test.yml
  .gitignore
Due: none

docs: 新增模組化架構重構規劃與 architecture-check SKILL
  .claude/CLAUDE.md
  .claude/skills/architecture-check/SKILL.md
  .doc/20260129_模組化架構重構規劃.md
Due: ultracite

feat: 為 SPIN 銷售技巧加入術語說明 Tooltip
  apps/web/src/lib/glossary.ts
  apps/web/src/routes/opportunities/$id.tsx
  bun.lock
  package.json
Due: ultracite, typecheck

fix: 新增 server dev script 修復 CI API Tests 失敗
  apps/server/package.json
Due: ultracite

fix: 在 Unit & Integration Tests 啟動 server
  .github/workflows/test.yml
Due: none

fix: Add build step before server startup in CI
  .github/workflows/test.yml
Due: none

fix: Standardize package name case @sales_ai_automation_v3/shared
  apps/queue-worker/src/index.ts
  apps/queue-worker/tsconfig.json
  apps/slack-bot-beauty/src/utils/form-builder.ts
  apps/slack-bot-beauty/src/utils/product-line-resolver.ts
  apps/slack-bot-beauty/tsconfig.json
  apps/slack-bot/src/utils/form-builder.ts
  apps/slack-bot/src/utils/product-line-resolver.ts
  apps/slack-bot/tsconfig.json
  apps/web/src/components/opportunities/ProductConfigFormFields.tsx
  apps/web/src/routes/opportunities/new.tsx
  apps/web/vite.config.ts
  packages/api-trpc-poc/src/routers/conversation.ts
  packages/services/src/llm/prompt-loader.ts
  packages/services/tsconfig.json
  scripts/test-product-line-integration.ts
  vitest.config.ts
Due: ultracite, typecheck

fix: Remove unused auth requirement from alert tests
  tests/api/alert.test.ts
Due: ultracite, typecheck

fix: Skip real-server integration tests in CI environment
  tests/api/analytics.test.ts
  tests/api/auth.test.ts
  tests/api/conversation.test.ts
  tests/api/opportunity.test.ts
Due: ultracite, typecheck

ci: Temporarily disable E2E and Performance tests
  .github/workflows/test.yml
Due: none

feat: 完成安全部署 Phase 2 & 3 - CI 測試啟用與 Canary 部署
  .doc/20260130_Safe_Deployment_Phase2_Complete.md
  .github/workflows/test.yml
  packages/db/src/seed.ts
  playwright.config.ts
  scripts/deploy-canary.sh
  scripts/setup-branch-protection.sh
Due: ultracite, typecheck

feat: Add Claude Agent SDK integration for automated PR review
  .github/workflows/claude-review.yml
  bun.lock
  packages/claude-sdk/package.json
  packages/claude-sdk/src/claude-code.d.ts
  packages/claude-sdk/src/client.ts
  packages/claude-sdk/src/index.ts
  packages/claude-sdk/src/mcp-registry.ts
  packages/claude-sdk/src/types.ts
  packages/claude-sdk/tsconfig.json
  packages/services/package.json
  packages/services/src/claude-agents/dev/pr-reviewer.ts
  packages/services/src/claude-agents/index.ts
  packages/services/src/index.ts
  packages/services/tsconfig.json
  scripts/claude/pr-review.ts
Due: ultracite, typecheck

feat: Add Phase 2-4 Claude Agent SDK integrations
  packages/services/src/claude-agents/dev/e2e-fixer.ts
  packages/services/src/claude-agents/index.ts
  packages/services/src/claude-agents/ops/cloudflare.ts
  packages/services/src/claude-agents/ops/diagnose.ts
  packages/services/src/claude-agents/ops/index.ts
  packages/services/src/claude-agents/sales/coach-enhanced.ts
  packages/services/src/claude-agents/sales/index.ts
  scripts/claude/coach.ts
  scripts/claude/diagnose.ts
  scripts/claude/e2e-fix.ts
Due: ultracite, typecheck

feat: Add Phase 5-6 Claude Agent SDK integrations
  packages/services/src/claude-agents/index.ts
  packages/services/src/claude-agents/ops/datadog.ts
  packages/services/src/claude-agents/ops/index.ts
  packages/services/src/claude-agents/sales/index.ts
  packages/services/src/claude-agents/sales/memory-manager.ts
  scripts/claude/memory.ts
  scripts/claude/monitor.ts
Due: ultracite, typecheck

fix: 修復 Claude PR Review workflow 和 SDK 設定問題
  .github/workflows/claude-review.yml
  packages/claude-sdk/package.json
Due: ultracite

Add Claude Agent SDK and PR review automation (#16)
  .github/workflows/claude-review.yml
  bun.lock
  packages/claude-sdk/package.json
  packages/claude-sdk/src/claude-code.d.ts
  packages/claude-sdk/src/client.ts
  packages/claude-sdk/src/index.ts
  packages/claude-sdk/src/mcp-registry.ts
  packages/claude-sdk/src/types.ts
  packages/claude-sdk/tsconfig.json
  packages/services/package.json
  packages/services/src/claude-agents/dev/e2e-fixer.ts
  packages/services/src/claude-agents/dev/pr-reviewer.ts
  packages/services/src/claude-agents/index.ts
  packages/services/src/claude-agents/ops/cloudflare.ts
  packages/services/src/claude-agents/ops/datadog.ts
  packages/services/src/claude-agents/ops/diagnose.ts
  packages/services/src/claude-agents/ops/index.ts
  packages/services/src/claude-agents/sales/coach-enhanced.ts
  packages/services/src/claude-agents/sales/index.ts
  packages/services/src/claude-agents/sales/memory-manager.ts
  packages/services/src/index.ts
  packages/services/tsconfig.json
  scripts/claude/coach.ts
  scripts/claude/diagnose.ts
  scripts/claude/e2e-fix.ts
  scripts/claude/memory.ts
  scripts/claude/monitor.ts
  scripts/claude/pr-review.ts
Due: ultracite, typecheck

feat(claude-sdk): 預設使用 Sonnet 模型以降低成本
  apps/server/src/index.ts
  apps/server/wrangler.toml
  apps/web/public/_routes.json
  apps/web/src/lib/auth-client.ts
  apps/web/src/routes/todos/index.tsx
  apps/web/src/utils/orpc.ts
  bun.lock
  packages/auth/src/index.ts
  packages/claude-sdk/src/claude-code.d.ts
  packages/claude-sdk/src/client.ts
  packages/claude-sdk/src/index.ts
  packages/claude-sdk/src/types.ts
  packages/db/package.json
  packages/db/src/schema/opportunity.ts
  packages/services/src/index.ts
  packages/services/src/ops/index.ts
  scripts/retry-conversation.ts
Due: ultracite, typecheck

docs: 新增專案架構文件與重構方案
  .doc/20260131_務實版架構改進方案.md
  .doc/ARCHITECTURE.md
  README.md
Due: ultracite

chore: 移除包含敏感資訊的測試腳本追蹤
  .gitignore
  check-agent4-summary.ts
  create-test-conversation.ts
  verify-transcript-saved.ts
Due: ultracite, typecheck

feat(reports): 團隊報告新增 PDCM 弱項分析、SPIN 卡點偵測與行動優先級
  apps/web/src/routes/reports/index.tsx
  packages/api/src/routers/analytics/team-performance/index.ts
  packages/services/src/report/precompute.ts
Due: ultracite, typecheck

fix(auth): 修復登入後跳回登入頁的 session 問題
  packages/auth/src/index.ts
Due: ultracite, typecheck

docs: 新增計畫模式指引與歷史教訓記錄
  .claude/CLAUDE.md
Due: ultracite

docs: 新增報告權限與 Internal Error 歷史教訓
  .claude/CLAUDE.md
Due: ultracite

feat: 新增 recurring-issues skill 自動偵測重複修復議題
  .claude/CLAUDE.md
  .claude/skills/recurring-issues/SKILL.md
Due: ultracite

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,css,md}
  typecheck: any of: *.{ts,tsx}
