Repository keweikao/Sales_ai_automation_v3: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck

ultracite:
  run: bun x ultracite check
  stage_fixed: true

typecheck:
  run: bun run typecheck

docs: 新增 Google OAuth 登入設定說明文件
  .doc/20260120_Google_OAuth登入設定說明.md
Due: ultracite

chore: 更新 CORS_ORIGIN 為 Cloudflare Pages 域名
  apps/server/wrangler.toml
Due: none

docs: 新增 Web 應用部署完成說明文件
  .doc/20260120_Web應用部署完成說明.md
Due: ultracite

feat: 簡化登入頁面為 Google OAuth 單一登入方式
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/routes/login.tsx
Due: ultracite, typecheck

fix: 新增 Cloudflare Pages SPA 路由設定
  apps/web/public/_redirects
  apps/web/public/_routes.json
Due: ultracite

fix: 修復 Google OAuth 登入後的 session 問題
  apps/web/src/routes/dashboard.tsx
  packages/auth/src/index.ts
Due: ultracite, typecheck

fix: 登入頁面自動跳轉已登入用戶到 Dashboard
  apps/web/src/routes/login.tsx
Due: ultracite, typecheck

feat: 改善 conversation 頁面錯誤處理
  apps/web/src/routes/conversations/$id.tsx
Due: ultracite, typecheck

feat: 改善 Dashboard 顯示用戶資訊和對話列表
  apps/web/src/routes/dashboard.tsx
Due: ultracite, typecheck

fix: 修復 Admin/Manager 無法查看所有 conversations 的問題
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

fix: 修復 ORPC 參數序列化問題
  apps/web/src/routes/dashboard.tsx
Due: ultracite, typecheck

fix: 改用直接 client 調用解決 ORPC 序列化問題
  apps/web/src/routes/dashboard.tsx
Due: ultracite, typecheck

fix: 修復多個頁面的 ORPC 參數序列化問題
  apps/web/src/routes/conversations/$id.tsx
  apps/web/src/routes/conversations/index.tsx
  apps/web/src/routes/opportunities/$id.tsx
  apps/web/src/routes/opportunities/index.tsx
Due: ultracite, typecheck

fix: 修復剩餘頁面的 ORPC 參數序列化問題
  apps/web/src/routes/conversations/new.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/reports/index.tsx
Due: ultracite, typecheck

fix: 修正 share.ts 和 sms.ts 的模組別名大小寫
  packages/api/src/routers/share.ts
  packages/api/src/routers/sms.ts
Due: ultracite, typecheck

fix: 修正模組別名大小寫 @sales → @Sales
  apps/queue-worker/src/index.ts
  apps/queue-worker/tsconfig.json
  apps/slack-bot-beauty/src/utils/form-builder.ts
  apps/slack-bot-beauty/src/utils/product-line-resolver.ts
  apps/slack-bot/src/utils/form-builder.ts
  apps/slack-bot/src/utils/product-line-resolver.ts
  apps/web/src/components/opportunities/ProductConfigFormFields.tsx
  apps/web/src/routes/opportunities/new.tsx
  apps/web/vite.config.ts
  packages/api-trpc-poc/src/routers/conversation.ts
  packages/services/src/llm/prompt-loader.ts
  packages/services/tsconfig.json
  scripts/test-product-line-integration.ts
  tests/tsconfig.json
  vitest.config.ts
Due: ultracite, typecheck

fix: 新增 slack-bot 和 slack-bot-beauty 的 TypeScript 路徑配置
  apps/slack-bot-beauty/tsconfig.json
  apps/slack-bot/tsconfig.json
Due: ultracite

chore: 清理臨時測試檔案並更新 .gitignore
  .gitignore
  temp-chunks/chunk_1.mp3
  temp-chunks/chunk_2.mp3
  temp-chunks/chunk_3.mp3
  temp-chunks/chunk_4.mp3
  temp-chunks/chunk_5.mp3
  transcription-compressed.json
Due: ultracite

fix: 修復 Agent 4 Summary 儲存 & 移除分享頁面的內部 MEDDIC 資訊
  .doc/20260121_Agent4_Summary儲存缺陷修復報告.md
  .doc/20260121_P0優先級功能實作計畫.md
  .doc/20260121_Q1-Q3三個月開發排程規劃.md
  .doc/20260121_Service_Account權限修復報告.md
  .doc/20260121_Share_API_500錯誤修復報告.md
  .doc/20260121_V3_Cases遷移執行指南.md
  .doc/20260121_分享功能問題診斷報告.md
  .doc/20260121_分享功能測試指引.md
  .doc/20260121_分享頁面內容優化報告.md
  .doc/20260121_最終部署和測試指引.md
  .doc/20260121_遷移策略修正說明.md
  apps/queue-worker/src/index.ts
  apps/web/src/routes/conversations/$id.tsx
  apps/web/src/routes/share/$token.tsx
  packages/api/src/routers/share.ts
  packages/services/tsconfig.json
  scripts/backfill-summaries.mjs
Due: ultracite, typecheck

fix: 修正 team.ts 導入大小寫和 analytics.ts TypeScript 類型問題
  apps/web/src/components/header.tsx
  apps/web/src/routeTree.gen.ts
  packages/api/src/routers/analytics.ts
  packages/api/src/routers/conversation.ts
  packages/api/src/routers/index.ts
  packages/api/src/routers/team.ts
  packages/services/src/share/token-generator.ts
Due: ultracite, typecheck

refactor: 提取重複程式碼以提升可維護性
  bun.lock
  packages/api/package.json
  packages/api/src/routers/analytics.ts
  packages/shared/src/constants/meddic.ts
  packages/shared/src/index.ts
Due: ultracite, typecheck

fix: 修復 CI 中 typecheck 失敗的問題
  turbo.json
Due: ultracite

fix: 修正 shared package 名稱大小寫
  packages/api/src/routers/analytics.ts
Due: ultracite, typecheck

fix: 修正 Service Account 上傳音檔到用戶建立商機的權限問題
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

fix: 修正 Beauty Bot Modal 無法開啟的問題
  apps/slack-bot-beauty/src/index.ts
Due: ultracite, typecheck

fix: 允許 Service Account 上傳音檔到任何商機
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

fix: 加入詳細錯誤訊息以便診斷 500 錯誤
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

debug: 加入更詳細的 DB 錯誤日誌
  .doc/20260121_KV_Cache與定期報告整合規劃.md
  .doc/20260121_V2到V3資料遷移完整規劃.md
  apps/queue-worker/src/index.ts
  apps/queue-worker/wrangler.toml
  packages/api/src/routers/conversation.ts
  packages/db/src/schema/conversation.ts
  scripts/migration/mappers/v3-cases-mapper.ts
Due: ultracite, typecheck

fix: 修正 Beauty Bot 缺少 productLine 參數導致資料庫寫入失敗
  apps/slack-bot-beauty/src/api-client.ts
  apps/slack-bot-beauty/src/events/file.ts
Due: ultracite, typecheck

fix: 移除 uploadConversation 中的 transcript: null
  packages/api/src/routers/conversation.ts
Due: ultracite, typecheck

feat: 支援產品線案件編號前綴 (IC/BT)
  packages/api/src/routers/conversation.ts
  packages/db/src/utils/id-generator.ts
Due: ultracite, typecheck

feat: 改善會議摘要分享頁面 UI 與業務署名格式
  apps/queue-worker/src/index.ts
  apps/web/src/routes/share/$token.tsx
  packages/api/src/routers/analytics.ts
  packages/services/src/llm/agents.ts
  packages/services/src/llm/prompts.ts
Due: ultracite, typecheck

feat(beauty): 新增 Qlieer 美業 AI 分析背景資訊
  packages/services/prompts/meddic/beauty/global-context.md
  packages/services/src/llm/prompts.generated.ts
Due: ultracite, typecheck

feat(prompts): 將 MEDDIC 框架調整為 SMB 輕量化 PDC 模型
  packages/services/prompts/meddic/agent2-buyer.md
  packages/services/prompts/meddic/agent3-seller.md
  packages/services/prompts/meddic/agent6-coach.md
  packages/services/prompts/meddic/beauty/champion.md
  packages/services/prompts/meddic/beauty/decision-criteria.md
  packages/services/prompts/meddic/beauty/decision-process.md
  packages/services/prompts/meddic/beauty/economic-buyer.md
  packages/services/prompts/meddic/beauty/identify-pain.md
  packages/services/prompts/meddic/ichef/champion.md
  packages/services/prompts/meddic/ichef/decision-criteria.md
  packages/services/prompts/meddic/ichef/decision-process.md
  packages/services/prompts/meddic/ichef/economic-buyer.md
  packages/services/prompts/meddic/ichef/identify-pain.md
  packages/services/prompts/meddic/shared/analysis-framework.md
  packages/services/src/llm/prompts.generated.ts
Due: ultracite, typecheck

feat(ui): 重新設計 Dashboard 為 Precision Analytics 風格
  apps/web/src/routes/index.tsx
Due: ultracite, typecheck

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,css,md}
  typecheck: any of: *.{ts,tsx}
